/* COLOR PALETTE
 #f7ede2 - almost white
 #84a59d - dark grey/blue
 #f28482 - dark pink
 #f6bd60 - YELLOW
 #f5cac3 - light pink */

 /* Global styles
------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: #84a59d;
    margin: 0;
    padding: 0;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 20px;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    color: #f6bd60;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-family: font-family: Helvetica, sans-serif;
    font-size: 65px;
    color: #f6bd60;
}
h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
h1, h2 {
    margin: 0;
}
.content-wrap {
    width: 750px;
    margin: 0 auto;
    padding: 60px 0;
}


/* Profile
------------------------------------*/
header {
    background:#f28482;
    color: #f7ede2;
}
/* Projects
------------------------------------*/
.projects {
    background:#f7ede2;
}
.projects a {
    color:  #f28482;
}
.projects .btn {
    color: #f7ede2;
    background: #f28482;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background: rgba(242,132,130, 80%);
}
.project-item {
    overflow: hidden;
    border-bottom: 2px dotted  #84a59d;
    padding: 25px;
}
.project-item img {
    float: right;
    margin-right: 25px;
}
.project-item h3{
    margin-top: 0;
}
/* Work Experience
------------------------------------*/
.work-experience {
    background:#f5cac3;
}
/* Education
------------------------------------*/
/* Contact Info
------------------------------------*/
footer {
    background: #84a59d;
    color: #f7ede2;
    }
}